jobsheet 6/A (Koneksi ke MQTT Broker)/flows (Job 6-A).json
[
    {
        "id": "1c951cc08140f9c1",
        "type": "inject",
        "z": "3697c9ea7a1c0830",
        "name": "temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "livingroom/sensors",
        "payload": "28",
        "payloadType": "str",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "135b01dde8746e27"
            ]
        ]
    },
    {
        "id": "6bafa4f0a870dac2",
        "type": "debug",
        "z": "3697c9ea7a1c0830",
        "name": "message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "135b01dde8746e27",
        "type": "mqtt out",
        "z": "3697c9ea7a1c0830",
        "name": "",
        "topic": "livingroom/sensors",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "679684cd75f451dc",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "2f85dbe7e267e575",
        "type": "mqtt in",
        "z": "3697c9ea7a1c0830",
        "name": "",
        "topic": "livingroom/sensors",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "679684cd75f451dc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6bafa4f0a870dac2"
            ]
        ]
    },
    {
        "id": "679684cd75f451dc",
        "type": "mqtt-broker",
        "name": "My Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
